<table>
    <tr>
        <th>Information</th>
        <th>userId</th>
        <th>id</th>
        <th>title</th>
    </tr>
    <tr *ngFor="let u of users" >
        <th><button [routerLink]= '["/user"]' [queryParams]="{id: u.id}">info</button></th>
        <th (click)="getInfo(u)">{{u.userId}}</th>
        <th (click)="getInfo(u)">{{u.id}}</th>
        <th (click)="getInfo(u)">{{u.title}}</th>
        <th *ngIf="u.isDetail" (click)="getInfo(u)">
            {{u.body}}
        </th>
    </tr>
</table>